[submodule "eagle/electronics"]
	path = eagle/electronics
	url = https://github.com/space-technologies-at-california/electronics.git
[submodule "firmware/arduino"]
	path = firmware/arduino
	url = https://github.com/space-technologies-at-california/arduino_sprite.git
